.Cabeçalho{
    background-color: #FF9E9E;
    padding: 0px;
    margin: 0px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Titulo-Corpo{
    display: flex;
    justify-content: center;
}

.Div-Imagem-P1{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 35px;
    justify-content: space-around;
}

.Div-Imagem-P2{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 35px;
    justify-content: space-around;
}

.Div-P6-P7-P8{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 35px;
}

.Imagem-Body{
    
}

.Div-Imagem-P3{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 35px;
    justify-content: space-around;
}